<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.6.10.js"></script>
    
</head>
<body>
    <div id="app">

        
        <input type="text" v-model="firstname">
        <input type="text" v-model="lastname">
        <input type="text" v-model="fullname">
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            firstname: '',
            lastname: '',
            fullname: ''
        },
        methods: {
        },
        // 使用这个属性可以见识data中指定数据的变化,然后出发这个watch中对应的处理函数
        watch: {
            // 默认带2个参数  newVal和oldVal
            firstname(){
                this.fullname = this.firstname + this.lastname
            },
            lastname(){
                this.fullname = this.firstname + this.lastname
            }
        },
    })
</script>
</html>